/* rea section */
.rea {
  display: flex;
  flex-flow: nowrap column;
  gap: 2rem;
}

.video {
  aspect-ratio: 16 / 9;
}

.rea h1 {
  margin-bottom: 1rem;
}

.parrafo {
  padding: 2rem;
  text-align: center;
}

/* About */
.About {
  position: relative;
  background-color: var(--color-secondary);
}

.About h2 {
  color: var(--color-gray);
  background-color: var(--color-primary);
  box-shadow: var(--box-shadow-card-background-dark)
    var(--color-gray);
}

.About p,
.About li {
  text-align: justify;
  color: var(--color-gray);
}

.About li {
  padding: 0.5rem;
}

.logo__rea {
  height: 6rem;
  position: absolute;
  top: 7rem;
  right: 15%;
}

.Benefits h2 {
  color: var(--color-gray);
  background-color: var(--color-secondary);
  box-shadow: var(--box-shadow-card-background-dark)
    var(--color-primary);
}

@media (max-width: 768px) {
  .Home {
    gap: 1rem;
  }

  .parrafo {
    padding: 1rem;
  }

  .About li {
    padding: 0;
  }

  .logo__rea {
    height: 3.5rem;
    position: absolute;
  }
}

@media (max-width: 425px) {
  .Home {
    gap: 1rem;
  }

  .logo__rea {
    display: none;
  }

  .About p,
  .About li {
    padding: 0.5rem 2rem;
  }
}
