/* globals css */
:root {
  --font-family-primary: font-family: Verdana, Geneva, Tahoma, sans-serif;
  --font-family-button: Impact, Haettenschweiler, 'Arial Narrow Bold',
  sans-serif;
  --color-primary: #be3144;
  --color-secondary: #3a4750;
  --color-dark: #303841;
  --color-gray: #e1e3e6;
  --border-button-radious: 2px;
  --border-button: none;
  --box-shadow-button: 2px 0px 5px 1px;
  --box-shadow-input: inset 2px 0px 5px 1px;
  --box-shadow-card-background-dark: 5px 6px 0px;
}