.gallery {
  position: relative;
  width: 100vw;
  padding-block: 4rem;
  background-color: var(--color-dark);
}

.gallery h2 {
  position: absolute;
  right: 2rem;
  width: fit-content;
  height: 4rem;
  padding: 0.6rem 5rem 1rem 1rem;
  margin-inline: 4rem;
  font-size: 2rem;
  background-color: var(--color-gray);
  box-shadow: var(--box-shadow-card-background-dark);
}

.movies__container {
  display: flex;
  margin-top: 9rem;
  flex-flow: row wrap;
  gap: 2rem;
  align-content: space-around;
  justify-content: center;
}

/* movie card component */
.movie__card {
  display: flex;
  flex-flow: row nowrap;
  width: 35rem;
  height: 15rem;
  box-shadow: 2px 2px 3px;
  border-radius: 5px 0px;
  background-color: var(--color-gray);
  justify-content: space-between;
}

.movie__card:hover {
  scale: 1.01;
  box-shadow: 10px 10px 0px var(--color-primary);
}

.movie__poster {
  width: 12rem;
  aspect-ratio: 9 / 16;
  overflow: hidden;
}

.movie__poster img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.movie__details {
  padding: 1rem 2rem 2rem 2rem;
  width: 23rem;
  display: flex;
  flex-flow: column;
  gap: 1rem;
}

.movie__data {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
}

/* movie layout */
.movie__layout {
  padding-top: 2rem;
  height: 100%;
}

.layout__header {
  position: relative;
  margin-bottom: 20rem;
}

.layout__banner {
  height: 25rem;
  width: 100vw;
}

.layout__banner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.layout__header h1 {
  position: absolute;
  top: 18rem;
  left: 22rem;
}

.layout__poster {
  width: 15rem;
  overflow: hidden;
  position: absolute;
  top: 15rem;
  left: 5rem;
}

.layout__poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.layout__plot {
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem;
  position: absolute;
  margin-top: 2rem;
  left: 22rem;
  padding: 2rem;
  width: 50%;
  height: fit-content;
  background-color: var(--color-dark);
  box-shadow: 10px 10px 0px var(--color-primary);
}

.layout__plot p {
  color: var(--color-gray);
}

.layout__technical {
  position: relative;
  padding: 4rem 10%;
}

.container__trailer__cast {
  display: flex;
  flex-flow: row wrap;
  background-color: var(--color-dark);
  padding: 4rem 10%;
  gap: 5rem;
  justify-content: space-evenly;
}

.layout__trailer {
  position: relative;
  width: 60%;
  aspect-ratio: 16 /9;
}

.layout__cast h5,
.layout__cast li {
  color: white;
}

.layout__stills {
  background-color: var(--color-primary);
  padding: 5rem 10%;
  display: flex;
  flex-flow: row nowrap;
}

.still__container {
  width: 20rem;
  height: 100%;
  overflow: hidden;
}

.still__container:hover {
}

.still__container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.stillViewer {
  position: fixed;
  top: 20%;
  padding: 20%;
  z-index: 100;
}
