.Register {
  height: fit-content;
}

.Register h2,
.forms__container h2 {
  color: var(--color-gray);
  background-color: var(--color-primary);
  box-shadow: var(--box-shadow-card-background-dark) var(--color-gray);
}

.Register p {
  text-align: justify;
  padding: 1rem;
}

.requirements {
  margin-top: 4rem;
  height: 25rem;
}

.requirements li {
  margin-top: 0.5rem;
}

.forms__container {
  margin-top: 3rem;
}

.forms {
  height: 1000px;
  width: 100%;
}

@media (max-width: 425px) {
  .Register {
    height: 55rem;
  }
  
  .Register h2,
  .forms__container h2 {
    margin-left: 5rem;
  }
  
  .requirements {
    margin-top: 4rem;
    height: 25rem;
  }
  
  .forms {
    height: 600px;
    width: 100%;
  }
}

@media (max-width: 320px) {
  .Register {
    height: 80rem;
  }
  
}