.Footer {
  padding: 2rem 10%;
  display: flex;
  flex-flow: nowrap row;
  gap: 5rem;
  min-height: fit-content;
  background-color: var(--color-dark);
  color: var(--color-gray);
}

.link {
  color: var(--color-gray);
}

.logos__container {
  display: flex;
  flex-flow: nowrap column;
  align-items: center;
  justify-content: flex-end;
}

.logo {
  height: 3rem;
  width: auto;
}

.logo img {
  height: 2rem;
  filter: brightness(2);
}

.reference {
  display: flex;
  flex-flow: column;
  gap: 1rem;
  font-size: 0.8rem;
  padding: 1rem;
  align-items: center;
  justify-content: flex-end;
}

.reference a {
  text-align: center;
  color: var(--color-gray);
  cursor: pointer;
}
