/* Header */
.Header {
  position: fixed;
  width: 100%;
  background-color: var(--color-dark);
  height: 3rem;
  z-index: 100;
}

.logo {
  position: absolute;
  right: 13rem;
  top: 0.4rem;
  height: 2.3rem;
}

.logo__ifci {
  position: absolute;
  right: 1rem;
  top: 0.4rem;
  height: 2rem;
  filter: brightness(3);
}

/* Menu */
.Menu {
  width: 15rem;
  z-index: 100;
}

.buttonMenu {
  height: 3rem;
  width: 6rem;
  border-radius: 0;
}

.menu__bar {
  margin-block-start: -1rem;
}

@media (max-width: 768px) {
  .Menu {
    width: 10rem;
  }
}

@media (max-width: 425px) {
  .logo {
    right: 9rem;
    height: 2rem;
  }

  .logo__ifci {
    right: 0.1rem;
    height: 1.5rem;
  }
}
